<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <title><%= current_page.data.title || "Rubaidh Ltd: Scottish for Ruby on Rails" %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="coming-soon-page <%= page_classes %>">
    <%= yield %>

    <div class="container">
      <p style="text-align: center; color: #fff">
        Copyright  &copy; 2006-2016 <%= link_to 'Wossname Industries', 'https://woss.name/' %>. All rights reserved.
      </p>
    </div>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/javascripts/back-to-top.js"></script>
    <script type="text/javascript" src="/javascripts/smoothScroll.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="/javascripts/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/javascripts/app.js"></script>

    <%= javascript_include_tag :all %>

    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/html5shiv.js"></script>
    <script src="/javascripts/placeholder-IE-fixes.js"></script>
    <![endif]-->

  </body>
</html>
