<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <%= partial 'metadata' %>
    <%= partial 'favicons' %>

    <%= stylesheet_link_tag :all %>
  </head>

  <body class="coming-soon-page <%= page_classes %>">
    <%= partial 'google_tag_manager' %>

    <%= yield %>

    <%= javascript_include_tag :all %>

    <!--[if lt IE 9]>
      <%= javascript_include_tag :ie %>
    <![endif]-->
  </body>
</html>
