---
title: 'Rubaidh Ltd: Scottish for Ruby on Rails'
layout: coming_soon
---
<div class="row" style="text-align: center; margin-top: 40px">
  <div class="col-md-3 col-md-offset-2" style="padding-top: 62px">
    <% utm_link_to 'https://www.rubaidh.com', content: 'Rubaidh Logo', title: 'Rubaidh Ltd: Scottish for Ruby on Rails' do %>
      <%= image_tag 'rubaidh.png', alt: 'Rubaidh Ltd: Scottish for Ruby on Rails' %>
    <% end %>
  </div>

  <div class="col-md-2" style="color: #fff; font-weight: bold; font-size: 72px">
    <div class="visible-md-block visible-lg-block" style="padding-top: 50px">
      &rarr;
    </div>
    <div class="visible-xs-block visible-sm-block" style="padding: 15px 10px">
      &darr;
    </div>
  </div>

  <div class="col-md-3">
    <% utm_link_to 'https://woss.name/', content: 'Wossname Industries Logo', title: 'Wossname Industries' do %>
      <%= image_tag 'wossname-industries.png', alt: 'Wossname Industries' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 coming-soon">
    <h1>So long, and thanks for all the fish!</h1>
  </div>

  <div class="col-md-8 col-md-offset-2 coming-soon" style="text-align: justify">
    <p>
      For nearly 10 years, Rubaidh (pronounced <em>'Roo-bay'</em>) was Scottish for
      <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org/' %>. We had
      an awesome time building web applications for some brilliant clients. We
      thoroughly enjoyed
      <%= link_to 'building open source software', 'https://github.com/rubaidh' %>,
      running the
      <%= link_to 'Scottish Ruby Conference', 'http://scottishrubyconference.com/' %>,
      founding the
      <%= link_to 'Scottish Ruby User Group', 'http://scotrug.org/' %>, and
      generally getting involved in the Ruby community.  It was an altogether
      delightful decade!
    </p>

    <p>
      Unfortunately, in a slightly unexpected turn of events,
      <%= link_to 'Graeme', 'https://twitter.com/mathie' %> moved to Devon in
      2015, which is nearly as far away from Scotland as it's possible to be
      while still on the UK mainland! He didn't feel that he could really
      call himself <em>Scottish</em> for Ruby on Rails any longer, so Rubaidh
      has closed its doors.
    </p>

    <p>
      Graeme is still hard at work, though! He's got a few projects on the go
      right now:
    </p>

    <ul>
      <li>
        <p>
          <%= utm_link_to 'Wossname Industries', 'https://woss.name/' %> is
          Graeme's new consulting company. It's exploring the intersection on
          technology and mental health. Go check them out, and sign up to
          hear more!
        </p>
      </li>

      <li>
        <p>
          <%= utm_link_to 'A Sneak Peek at The Internet', 'https://the-internet.io/' %>
          is the book that Graeme has always wished existed, so that all
          software developers can have a more holistic understanding of the
          workings of The Internet. He's given up waiting on somebody else
          writing it, and is (slowly) doing it himself.
        </p>
      </li>

      <li>
        <p>
          Graeme is still doing Ruby on Rails development. In fact, he's dug
          out a domain we registered a while ago, and is sneakily using it to
          promote himself. He's gone from being <em>Scottish</em> for Ruby on
          Rails to being
          <%= utm_link_to 'British for Ruby on Rails',  'https://www.rubyonrails.co.uk/' %>.
          Clever, huh?
        </p>
      </li>
    </ul>
  </div>
</div>
