---
title: 'Rubaidh Ltd: Scottish for Ruby on Rails'
---
<div class="coming-soon-border"></div>
<div class="coming-soon-bg-cover"></div>

<div class="container cooming-soon-content valign__middle">
  <div class="row">
    <div class="col-md-12 coming-soon">
      <h1>So long, and thanks for all the fish!</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 coming-soon" style="text-align: justify">

      <p>
        For nearly 10 years, Rubaidh (pronounced <em>'Roo-bay'</em>) was Scottish for
        <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org/' %>. We had
        an awesome time building web applications for some brilliant clients. We
        thoroughly enjoyed running the
        <%= link_to 'Scottish Ruby Conference', 'http://scottishrubyconference.com/' %>
        and founding the
        <%= link_to 'Scottish Ruby User Group', 'http://scotrug.org/' %>.
        It was an altogether delightful decade!
      </p>

      <p>
        Unfortunately, in a slightly unexpected turn of events,
        <%= link_to 'Graeme', 'https://twitter.com/mathie' %> moved to Devon in
        2015, which is nearly as far away from Scotland as it's possible to be
        while still on the UK mainland! He didn't feel that he could really
        call himself <em>Scottish</em> for Ruby on Rails any longer, so Rubaidh
        has closed its doors.
      </p>

      <p>
        Graeme is still hard at work, though! He's got a few projects on the go
        right now:
      </p>

      <ul>
        <li>
          <p>
            <%= link_to 'Wossname Industries', 'https://woss.name/' %> is
            Graeme's new consulting company. It's hard at work on exploring the
            intersection on technology and mental health. Go check them out,
            and sign up to hear more!
            </p>
        </li>

        <li>
          <p>
            <%= link_to 'A Sneak Peek at The Internet', 'https://the-internet.io/' %>
            is the book that Graeme has always wished existed, so that all
            software developers can have a more holistic understanding of the
            workings of The Internet. He's given up waiting on somebody else
            writing it, and is (slowly) doing it himself.
          </p>
        </li>

        <li>
          <p>
            Graeme is still doing Ruby on Rails development. In fact, he's dug
            out a domain we registered a while ago, and is sneakily using it to
            promote himself. He's gone from being <em>Scottish</em> for Ruby on
            Rails to being
            <%= link_to 'British for Ruby on Rails',  'https://www.rubyonrails.co.uk/' %>.
            Clever, huh?
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
